extends ../templates/default

block content
    .container
      h2 Perfil
      p Username
      .well=user.email
      p Nombre
      .well=user.nombre

      a.btn.btn-primary.btn-lg(href='#' type='button') Editar






