//
   Created by diego on 19/06/17.
extends ../templates/default

block content
  div(class='row')
    div(class='col-md-3 col-md-offset-1')
      div(class='panel panel-default')
        div(class='panel-body')
          h1 PlayerMusic
          audio(controls='')
            source(type='audio/mpeg')
    div(class='col-md-7 col-md-offset-0')
      p tabla con la informacion de las listas
      a.btn.btn-primary(href='#' type='button' ) mostrar todas las canciones
      table.table.table-hover
        thead
          tr
            th Nombre
            th Likes
            th Creada por
            th Acciones
        tbody
          each list in listas
            tr
              td=list.nombre_lista
              td=list.likes
              td=list.nombre_usuario
              td
                a(href='#') dar like
                =' - '
                a(href='#') escuchar


