//
   Created by diego on 19/06/17.
extends ../templates/default

block content
  div(class='row')
    div(class='col-md-3 col-md-offset-1')
      div(class='panel panel-default')
        div(class='panel-body')
          h1 PlayerMusic
          audio(controls='')
            source(type='audio/mpeg')
    div(class='col-md-7 col-md-offset-0')
      p tabla con la informacion de las listas
      a.btn.btn-primary(href='http://localhost:3000/explorar/explorePlayer/all' type='button' ) mostrar todas las canciones
      table.table.table-hover
        thead
          tr
            th Nombre
            th Likes
            th Creada por
            th Acciones
        tbody
          each list in listas
            tr
              td=list.nombre_lista
              td=list.likes
              td=list.nombre_usuario
              td
                a.btn.btn-link(href='http://localhost:3000/explorar/explorePlayer/'+list.id_lista) escuchar
                form(action='http://localhost:3000/explorar/like/#{list.id_lista}?_method=put' method='post')
                  button.btn.btn-link(type='submit') dar like


