//
   Created by diego on 19/06/17

extends ../templates/default

block content
  div(class='row')
    div(class='col-md-3 col-md-offset-1')
      div(class='panel panel-default')
        div(class='panel-body')
          h1 PlayerMusic
          audio(controls='')
            source(type='audio/mpeg')
    div(class='col-md-7 col-md-offset-0')
      p tabla con la informacion de las listas
      if listas.length < 3 || user.premium
          a.btn.btn-primary(href='http://localhost:3000/player/miListas/crearLista' type='button' ) crear nueva lista
      else
        div(class='col-md-9 col-md-offset-4')
          button.btn.btn-danger(type='button')
            |debes de ser premium para tener mas de 3 listas
      table.table.table-hover
        thead
          tr
            th Nombre
            th Likes
            th Acciones
        tbody
          each list in listas
            tr
              td=list.nombre_lista
              td=list.likes
              td
                form(action='http://localhost:3000/player/delete/#{list.id_lista}?_method=delete' method='post')
                  button.btn.btn-link(type='submit') delete
                a.btn.btn.link(href='http://localhost:3000/player/misListas/editarLista/#{list.id_lista}') editar
