extends ../templates/default
block content
  
  div(class='row')
    div(class='col-md-3 col-md-offset-1')
      div(class='panel panel-default')
        div(class='panel-body')
          h1 PlayerMusic
          audio(controls='')
            source(type='audio/mpeg')
      div(class = 'container')
        h2 button Styles
        //a(class='btn btn-primary' href='' type='button' id='btn2lista') mi lista
        //button(class='btn btn-primary' type='button' id='btnlista') change list
        .btn-group-vertical
          button.btn.btn-primary(type='button' id='btnlista') btnlista
          button.btn.btn-primary(type='button' id='btn2lista') btn2
          button.btn.btn-primary(type='button' id='otherbutton') other
          a.btn.btn-primary(href='http://localhost:3000/player/misListas' type='button' ) ir a mis listas
          .btn-group
            button.btn.btn-primary.dropdown-toggle(type='button', data-toggle='dropdown')
              | listas
              span.caret
            ul.dropdown-menu(role='menu')
              li
                button.btn.btn-link(type='button' id='lista1') Lista 1
              li
                button.btn.btn-link(type='button' id='lista2') Lista 2
              li
                button.btn.btn-link(type='button' id='lista3') Lista 3



    div(class='col-md-7 col-md-offset-0')
        p Lista de todas las canciones

        table.table.table-hover
          thead
          tr
            th Nombre
            th Duracion
            th Arista
            th Genero
            th Lista
          tbody
          tr
            td John
            td Doe
            td john@example.com
            td gay
            td lista


  script(src='javascripts/main.js')